body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 30px;
  }
  
  /* Search form */
  form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  label {
    color: #333;
    font-size: 18px;
    margin-right: 10px;
  }
  
  input[type="text"] {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
  }
  
  button[type="submit"] {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* Weather conditions */
  #current-weather {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  #current-weather h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #current-weather h3 {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  #current-weather p {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  /* 5-day forecast */
  #forecast {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  #forecast h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #forecast-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .forecast-item {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
  }
  
  .forecast-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .forecast-item p {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Search history */
  #search-history {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  #search-history h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #history-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .history-item {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px
  }